**Hello World**

In [0]:
input_string = input()

# Print a string literal saying "Hello, World." to stdout.
print('Hello, World.' + '\n' + input_string)

Hi
Hello, World.
Hi

Complexity: O(1)

---

**Operators**

In [0]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the solve function below.
def solve(meal_cost, tip_percent, tax_percent):
    tip_amount=meal_cost*(tip_percent/100)
    tax_amount=meal_cost*(tax_percent/100)
    total_cost=meal_cost+tip_amount+tax_amount
    t=round(total_cost)
    print(t)

if __name__ == '__main__':
    meal_cost = float(input())

    tip_percent = int(input())

    tax_percent = int(input())

    solve(meal_cost, tip_percent, tax_percent)

45.67
23
12
62

Complexity: O(1)

---

### **Day 3: Intro to Conditional Statements**

In [0]:
#!/bin/python3

import math
import os
import random
import re
import sys

if __name__ == '__main__':
    N = int(input())
    if(N%2!=0):
        print("Weird")
    else:
        if(2<=N<=5):
            print("Not Weird")
        elif(6<=N<=20):
            print("Weird")
        else:
            print("Not Weird")

60
Not Weird



---

### **Day 4: Class vs. Instance**

In [0]:
class Person:
    def __init__(self,initialAge):
        # Add some more code to run some checks on initialAge
        if(initialAge<0):
            print("Age is not valid, setting age to 0.")
            self.age=0
        else:
            self.age=initialAge
    def amIOld(self):
        # Do some computations in here and print out the correct statement to the console
        if(self.age<13):
            print("You are young.")
        elif(self.age>=13 and self.age<18):
            print("You are a teenager.")
        else:
            print("You are old.")
    def yearPasses(self):
        # Increment the age of the person in here
        self.age=self.age+1

t = int(input())
for i in range(0, t):
    age = int(input())         
    p = Person(age)  
    p.amIOld()
    for j in range(0, 3):
        p.yearPasses()       
    p.amIOld()
    print("")

4
-1
Age is not valid, setting age to 0.
You are young.
You are young.

10
You are young.
You are a teenager.

16
You are a teenager.
You are old.

18
You are old.
You are old.



---

### **Day 5: Loops**

In [0]:
#!/bin/python3

if __name__ == '__main__':
    n = int(input())
    for i in range(1,11):
        print("%d x %d = %d"%(n,i,n*i))

15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150



---

**Complexity : O(10)**

### **Day 12: Inheritance**

In [0]:
class Person:
	def __init__(self, firstName, lastName, idNumber):
		self.firstName = firstName
		self.lastName = lastName
		self.idNumber = idNumber
	def printPerson(self):
		print("Name:", self.lastName + ",", self.firstName)
		print("ID:", self.idNumber)

class Student(Person):
    def __init__(self,firstName,lastName,idNum,scores):
        super().__init__(firstName,lastName,idNum)
        self.scores=scores
    

    #   Function Name: calculate
    def calculate(self):
        grade=sum(self.scores)/len(scores)
        if(90<=grade<=100):
            return "O"
        elif(80<=grade<90):
            return "E"
        elif(70<=grade<80):
            return "A"
        elif(55<=grade<70):
            return "P"
        elif(40<=grade<55):
            return "D"
        else:
            return "T"


line = input().split()
firstName = line[0]
lastName = line[1]
idNum = line[2]
numScores = int(input()) # not needed for Python
scores = list( map(int, input().split()) )
s = Student(firstName, lastName, idNum, scores)
s.printPerson()
print("Grade:", s.calculate())

Heraldo Memelli 8135627
2
100 80
Name: Memelli, Heraldo
ID: 8135627
Grade: O



---

### **Day 15: Linked List**

In [0]:
class Node:
    def __init__(self,data):
        self.data = data
        self.next = None 
class Solution: 
    def display(self,head):
        current = head
        while current:
            print(current.data,end=' ')
            current = current.next

    def insert(self,head,data): 
        n1=Node(data)
        if(head==None):
            head=n1
            return head
        else:
            first=head
            while(first.next!=None):
                first=first.next
            first.next=n1
        return head
        

mylist= Solution()
T=int(input())
head=None
for i in range(T):
    data=int(input())
    head=mylist.insert(head,data)    
mylist.display(head);

4
2
3
4
1
2 3 4 1



---

### **Day 7: Arrays**

In [0]:
if __name__ == '__main__':
    n = int(input())

    arr = list(map(int, input().rstrip().split()))
    for i in range(len(arr)-1,-1,-1):
        print(arr[i],end=" ")

6
1 2 6 5 4 3
3 4 5 6 2 1

Complexity of this code is **O(n)**

---

### **Day 16: Exceptions - String to Integer**

In [0]:
S = input().strip()
try:
    print(int(S))
except:
    print("Bad String")

cbfd
Bad String

complexity: **O(1)**

---

### **Day 8: Dictionaries and Maps**

In [0]:

if __name__ == "__main__":
    book=dict()
    n=int(input())
    for i in range(n):
        name,number=input().split()
        book[name]=number
    try:
        while(1):
            m=input()
            if(len(m)>1):
                if(m in book.keys()):
                    print(m+ "=" + book[m])
                else:
                    print("Not found")
            else:
                break
    except EOFError:
        pass

3
sam 99912222
tom 11122222
harry 12299933
sam
sam=99912222
edward
Not found
harry
harry=12299933

Complexity: **O(n)**

---

### **Day 9: Recursion 3**

In [0]:
def factorial(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*factorial(n-1)

if __name__ == '__main__':

    n = int(input())

    result = factorial(n)

    print(result)

5
120

Complexity: **O(n)**

---

### **Day 10: Binary Numbers**

Tell the max number of consecutive 1's in a decimal number when it is converted into binary.
Step1: Convert dec into bin
Step2: Count max number of consecutive one's.

In [0]:
if __name__ == '__main__':
    n = int(input())
    count=0
    result=0
    while(n>0):
        if(n%2==1):
            count+=1
        else:
            count=0
        result=max(count,result)
        n=n//2
    print(result)

16
1

Complexity: **O(n)**

---

### **Day 14: Scope**
Compute max absolute difference between any 2 elements of the given array.

In [0]:
class Difference:
    def __init__(self, a):
        self.__elements = a
        self.maximumDifference=0
        
    def computeDifference(self):
        self.__elements.sort()
        self.maximumDifference= abs(self.__elements[0]-self.__elements[-1])

	# Add your code here

# End of Difference class

_ = input()
a = [int(e) for e in input().split(' ')]

d = Difference(a)
d.computeDifference()

print(d.maximumDifference)

3
1 2 5
4

Complexity: **O(nlogn)** because of sort function. 

---

### **Day 17: More Exceptions**

In [0]:
#Write your code here
class Calculator:
    def power(self,n,p):
        if(n>=0 and p>=0):
            return pow(n,p)
        else:
            raise Exception("n and p should be non-negative")

myCalculator=Calculator()
T=int(input())
for i in range(T):
    n,p = map(int, input().split())
    try:
        ans=myCalculator.power(n,p)
        print(ans)
    except Exception as e:
        print(e)

4
3 5
243
2 4
16
-1 -2
n and p should be non-negative
2 -7
n and p should be non-negative



---