### **List Comprehensions** 

Sample Input:
1
1
1
2
Sample Output:
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

 List comprehensions are an elegant way to build a list without having to use different for loops to append values one by one. This example might help.

Example: You are given two integers x and y . You need to find out the ordered pairs ( i , j ) , such that ( i + j ) is not equal to n and print them in lexicographic order.( 0 <= i <= x ) and ( 0 <= j <= y)

In [0]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    print([[i,j,k] for i in range(x+1) 
                    for j in range(y+1) 
                        for k in range(z+1) 
                            if(i+j+k!=n)])

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

Complexity of this code is O(n^3) Cubic complexity.

---

### **Find the Runner up score!**
return second largest interger from an array.

In [0]:
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    arr.sort()
    i=len(arr)-1
    while(arr[i]==max(arr)):
        i=i-1
    print(arr[i])

5
2 3 6 6 5
5

Complexity of above code is O(n)

A more efficient way to do it is:

In [0]:
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    print(sorted(set(arr))[-2])

5
2 3 5 6 6
5

If we neglect the complexity for sorting algorithm, the complexity of above code becomes O(1).

---

### **Nested Lists** 

Given the names of students and their marks in Physics, return second lowest marks. If there are more than one student with second lowest marks, order them alphabetically. 

Sample Input:
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

Sample Output:
Berry
Harry

In [0]:
if __name__ == '__main__':
    l=[]
    for _ in range(int(input())):
        name = input()
        score = float(input())
        l.append([name,score])
    l.sort(key= lambda x:x[1])
    minn=l[0][1]
    j=0
    score=0
    while(l[j][1]==minn):
        j=j+1
    else:
        score=l[j][1]
    print(*sorted([i[0] for i in l if(i[1]==score)]),sep="\n")

5
Harry
37.12
Berry
37.12
Tina
37
Akiriti
41
Harsh
80
Berry
Harry

Complexity of above code is O(n)

---

### **Finding the percentage** 
This is related to dict data type. Given the names of students and their percentages in individual subjects. Calculate average percentage of student whose name is given as input. Example: 

3 (number of records to be added in dict)
Krishna 67 68 69 (save in dict, name is key here, and store marks in a list)
Arjun 70 98 63
Malika 52 56 60
Malika (queried name)

In [0]:
import functools
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    nam=student_marks[query_name]
    print("%.2f"%(functools.reduce(lambda x,y:x+y,nam)/len(nam)))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

Complexity of above code is O(n)

---

### **Here, I got my 3rd star. Yayy!**