### **Say "Hello, World!" With Python**

In [0]:
if __name__ == '__main__':
    print "Hello, World!"#complexity is O(1)

### **Python If-Else** 
Using modulo operator

In [0]:
if __name__ == '__main__':
    n = int(input().strip())
    if(n%2!=0):
        print("Weird")
    else:
        if(2<=n<=5):
            print("Not Weird")
        elif(6<=n<=20):
            print("Weird")
        else:
            print("Not Weird")

### **Python If-Else** 
Without using modulo operator

In [3]:
if __name__ == '__main__':
    n = int(input().strip())
    if((n//2)*2!=n):
        print("Weird")
    else:
        if(2<=n<=5):
            print("Not Weird")
        elif(6<=n<=20):
            print("Weird")
        else:
            print("Not Weird")

24
Not Weird

### **Arithmetic Operators**

In [4]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

8
3
11
5
24

### **Division**

In [5]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

4
8
0
0.5

Here, I got my first star. Yayy!

### **Loops**

In [6]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i**2)

5
0
1
4
9
16

### **Write a function to return True if year is a leap year.**

In [7]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if(year%4==0 and (year%400==0 or year%100!=0)):
        leap=True
    return leap

year = int(input())
print(is_leap(year))

1800
False

### *Write a function to print string like if 3 is given it prints "123"*

In [8]:
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
        print(i,end="")

3
123

Here, I got my 2nd star. Yayy!