### **Introduction to Sets**

A set is an **unordered collection** of elements **without duplicate entries**.
When printed, iterated or converted into a sequence, its **elements will appear in an arbitrary order**.

In [1]:
#calculate average of distinct heights of all plants. Heights are given.

def average(array):
    array=set(array)
    return sum(array)/len(array)

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

### **Symmetric Difference**

Find out symmetric difference from two sets a and b. Symmetric difference means the elements that exist either in a or b but not in both. Prit them inascending order.

In [2]:
if __name__ == "__main__":
    m=int(input())
    a=set(map(int,input().split()))
    n=int(input())
    b=set(map(int,input().split()))
    print(*sorted(a.symmetric_difference(b)),sep="\n")

4
2 4 5 9
4
2 4 11 12
5
9
11
12

Complexity is O(1). (Neglecting sorting complexity) Otherwise complexity is O(nlogn)

---

### **No Idea!**

Given an array and two sets A and B. You have your happiness, if an element of array exists in set A, your happiness increases by 1 and if that element exists in set B, your happiness decreases by 1.

In [3]:
if __name__== "__main__":
    happiness=0
    n,m=map(int,input().split())
    array=list(map(int,input().split()))
    A=set(map(int,input().split()))
    B=set(map(int,input().split()))
    for i in array:
        if(i in A):
            happiness+=1
        elif(i in B):
            happiness-=1
    print(happiness)

3 2
1 5 3
3 1
5 7
1

Complexity is O(n) i.e. number of elements present in an array.

---

Here, I earned a **Gold Badge** in **Python**.

### **Set.add()**

Apply your knowledge of the .add() operation to help your friend Rupal.

Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of  country stamps.

Find the total number of distinct country stamps.

In [4]:
if __name__ == "__main__":
    A=set()
    for _ in range(int(input())):
        A.add(input())
    print(len(A))

7
UK
USA
UAE
UK
New Zealand
Pakistan
India
6

### **Set .discard(), .remove() & .pop()**

Usage of above three function. After all operations, print sum of set elements.

In [5]:
if __name__ == "__main__":
    n = int(input())
    s = set(map(int, input().split()))
    for _ in range(int(input())):
        string=input().split(" ")
        if(len(string)==1):
                s.pop()
        else:
            if(string[0]=="remove"):
                s.remove(int(string[1]))
            else:
                s.discard(int(string[1]))
    print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
emove 5
pop
discard 5
4

The difference between discard() and remove() is that: If an element doesn not exist in an array. remove() raises a KeyError and discard() doesn not raise any error.

Complexirty is O(n)

---

### **Set .union() Operation**

Perform union and intersection operations on sets.

In [1]:
n=int(input())
l=map(int,input().split())

m=int(input())
o=map(int,input().split())
l=set(l)
o=set(o)
print(len(l.union(o)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

### **Set .intersection() Operation**

In [2]:
n=int(input())
l=map(int,input().split())
m=int(input())
o=map(int,input().split())
A=set(l)
B=set(o)
print(len(A.intersection(B)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

### **Set .difference() Operation**

In [3]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
n=int(input())
l=map(int,input().split())
m=int(input())
o=map(int,input().split())
print(len(set(l).difference(set(o))))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

### **Set .symmetric_difference() Operation**

In [4]:
n=int(input())
l=map(int,input().split())
m=int(input())
o=map(int,input().split())
print(len(set(l).symmetric_difference(set(o))))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

### **Set Mutations**



```
.update()  #updates set elements with given values.
intersection_update() #updates set with values that are present in intersection of both sets
difference_update() #updates set with values that are present in difference of both sets
symmetric_difference_update() #updates set with values that are present in symmetric difference of both sets. Symmetric difference means element is either present in set A or B but not in both.
```

In [5]:
# Enter your code here. Read input from STDIN. Print output to STDOUT

n=int(input())
A=set(map(int,input().split()))

r=input()
for i in range(int(r)):
    op_name,length=input().split()
    B=set(map(int,input().split()))
    if op_name=="intersection_update":
        A.intersection_update(B)
    elif op_name=="update":
        A.update(B)
    elif op_name=="symmetric_difference_update":
        A.symmetric_difference_update(B)
    elif op_name=="difference_update":
        A.difference_update(B)

print(sum(A))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

### **The Captain's Room**

A group of tourists and their room numbers is given. Find captain's room number.

In [6]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
from collections import Counter
n=int(input())
l=list(map(int,input().split()))
c=dict(Counter(l))
print(*[k for k,v in c.items() if(v==1)])

10
1 1 2 2 3 3 4 4 5 6 6
5

### **Check Subset**

Check if set A is subset of set B.

In [8]:
# Enter your code here. Read input from STDIN. Print output to STDOUT

n=int(input())
for i in range(n):
    la=int(input())
    lv=set(map(int,input().split()))
    lb=int(input())
    lbv=set(map(int,input().split()))
    print(lv.issubset(lbv))

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

### **Check Strict Superset**

A strict superset has at least one element that does not exist in its subset.
Print True, if A is a strict superset of each of the N sets. Otherwise, print False.

In [9]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
a = set(input().split())
print(all(a> set(input().split()) for _ in range(int(input()))))

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False